Package: com.rmtool.magicrecipe
Name: RMTool Magic Recipe
Version: 1.2.6
Architecture: iphoneos-arm64
Description: Magic Recipe local-mail floating tool
Maintainer: RMTool
Author: RMTool
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
